
/* .client-in ul
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}
.client-in ul li{
    list-style: none;
    display: inline-block;
    width:150px;
    height: 100px;
    position: relative;
    overflow:hidden ;
    cursor: pointer;
    transition: .5s;
    
} */
/* .client-in ul li img{
    
    width:100px;
    height: 100px;
    
} */
/* .client-in ul li img{
    
    width:100px;
    height: 100px;
    
} */

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.image {
    width: 45%; /* Adjust as needed */
    max-width: 100%;
    height: auto;
}